body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #cc0000;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h2{
    display: flex;
    justify-content: center;
}

/* Configurações gerais de estilo */
#jogadores {
    display: flex;
    flex-direction: column; /* Organiza posições verticalmente */
    gap: 30px; /* Espaçamento entre seções */
    width: 100%;
    align-items: center;
}

.posicao {
    width: 90%; /* Ajusta a largura de cada seção */
    margin: 0 auto; /* Centraliza o conteúdo */
}

.titulo-posicao {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333; /* Adicione cor para o título */
}

.linha-jogadores {
    display: flex;
    flex-wrap: wrap; /* Permite que os jogadores fiquem alinhados em várias linhas */
    gap: 20px;
    justify-content: center; /* Alinha os jogadores no centro */
}

.jogador {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s; /* Animação suave para interatividade */
}

.jogador:hover {
    transform: scale(1.1); /* Destaca o jogador ao passar o mouse */
}

.player-image {
    width: 150px; /* Define o tamanho padrão das imagens */
    height: 150px;
    border-radius: 50%; /* Torna as imagens circulares */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra elegante */
}