body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(180, 8, 8) 100%, rgba(0, 212, 255, 1) 100%);
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}



/* Configurações gerais de estilo */
#jogadores {
    gap: 30px;
    width: 100%;
    align-items: center;
}

.posicao {
    width: 90%;
    /* Ajusta a largura de cada seção */
    margin: 0 auto;
    /* Centraliza o conteúdo */
}

.titulo-posicao {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    /* Adicione cor para o título */
}

.linha-jogadores {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os jogadores fiquem alinhados em várias linhas */
    gap: 20px;
    justify-content: center;
    /* Alinha os jogadores no centro */
}

.jogador {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    /* Animação suave para interatividade */
}

.jogador:hover {
    transform: scale(1.1);
    /* Destaca o jogador ao passar o mouse */
}

.player-image {
    width: 150px;
    /* Define o tamanho padrão das imagens */
    height: 150px;
    border-radius: 50%;
    /* Torna as imagens circulares */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Adiciona uma sombra elegante */
}

@media (max-width: 768px) {
    .linha-jogadores {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }

    .player-image {
        width: auto;
        height: auto;
    }

    .titulo-posicao {
        font-size: 20px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}


@media (max-width: 768px) {
    header h1 {
        font-size: 22px;
        padding: 15px;
    }

}