

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(180, 8, 8) 100%, rgba(0, 212, 255, 1) 100%);
    color: #ffffff;
    padding: 10px 20px;

}

nav {
    background-color: #000000;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

#historia-time {
    display: flex;
    flex-direction: row;
}

#historia-time p {
    text-align: left;
    color: #ffffff;
    padding: 10px;
}



@media (max-width: 768px) {
    #historia-time {
        flex-direction: column;
    }

    #historia-time p {
        text-align: center;
        padding: 5px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}